@font-face {
  font-family: "Quicksand";
  src: url("/src/assets/fonts/Quicksand.ttf");
}

@font-face {
  font-family: "ShantellSans";
  src: url("/src/assets/fonts/ShantellSans.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat.ttf");
}

@font-face {
  font-family: "AngillaTattoo";
  src: url("/src/assets/fonts/AngillaTattoo_PERSONAL_USE_ONLY.ttf");
}

@font-face {
  font-family: "Anton";
  src: url("/src/assets/fonts/Anton.ttf");
}

@font-face {
  font-family: "BukhariScript";
  src: url("/src/assets/fonts/BukhariScript-Regular.ttf");
}

@font-face {
  font-family: "CaviarDreams";
  src: url("/src/assets/fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: "ChampagneLimousines";
  src: url("/src/assets/fonts/ChampagneLimousines.ttf");
}

@font-face {
  font-family: "CupcakeParty";
  src: url("/src/assets/fonts/CupcakeParty.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("/src/assets/fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Jura";
  src: url("/src/assets/fonts/Jura-Regular.ttf");
}

@font-face {
  font-family: "Kalam";
  src: url("/src/assets/fonts/Kalam-Regular.ttf");
}

@font-face {
  font-family: "Nickainley";
  src: url("/src/assets/fonts/Nickainley-Normal.ttf");
}

@font-face {
  font-family: "Orange";
  src: url("/src/assets/fonts/orange.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("/src/assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Sacramento";
  src: url("/src/assets/fonts/Sacramento-Regular.ttf");
}

@font-face {
  font-family: "Stalemate";
  src: url("/src/assets/fonts/Stalemate-Regular.ttf");
}