@font-face {
  font-family: "Quicksand";
  src: url("/src/assets/fonts/Quicksand.ttf");
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/src/assets/fonts/ShantellSans.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat.ttf");
}