$rose-100: #ff98f2;
$rose-200: #ff98f2dd;
$rose-300: #ff98f2bb;
$rose-400: #ff98f299;
$rose-500: #ff98f277;
$rose-600: #ff98f255;
$rose-700: #ff98f233;
$testingBabe-100: #ff00f2;
$testingBabe-200: #ff00f2dd;
$testingBabe-300: #ff00f2bb;
$testingBabe-400: #ff00f299;
$testingBabe-500: #ff00f277;
$testingBabe-600: #ff00f255;
$testingBabe-700: #ff00f233;
