/* Font family */
$quicksand: "Quicksand";
$shantell: "Shantell Sans";
$montserrat: "Montserrat";

/* Colors */
$blue-100: #2075f9;
$blue-200: #2075f9dd;
$blue-300: #2075f9bb;
$blue-400: #2075f999;
$blue-500: #2075f977;
$blue-600: #2075f955;
$blue-700: #2075f933;
$red-100: #ff4757;
$red-200: #ff4757dd;
$red-300: #ff4757bb;
$red-400: #ff475799;
$red-500: #ff475777;
$red-600: #ff475755;
$red-700: #ff475733;
$pink-100: #ff13b0;
$pink-200: #ff13b0dd;
$pink-300: #ff13b0bb;
$pink-400: #ff13b099;
$pink-500: #ff13b077;
$pink-600: #ff13b055;
$pink-700: #ff13b033;
$yellow-100: #ffba00;
$yellow-200: #ffba00dd;
$yellow-300: #ffba00bb;
$yellow-400: #ffba0099;
$yellow-500: #ffba0077;
$yellow-600: #ffba0055;
$yellow-700: #ffba0033;
$green-100: #46c93a;
$green-200: #46c93add;
$green-300: #46c93abb;
$green-400: #46c93a99;
$green-500: #46c93a77;
$green-600: #46c93a55;
$green-700: #46c93a33;
$gray-100: #464646;
$gray-200: #464646dd;
$gray-300: #464646bb;
$gray-400: #46464699;
$gray-500: #46464677;
$gray-600: #46464655;
$gray-700: #46464633;
$dark: #1e1e1e;
$white: #fff;

/* Size */
$size-2: 2px;
$size-4: 4px;
$size-6: 6px;
$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;
$size-32: 32px;
$size-40: 40px;
$size-50: 50px;
$size-56: 56px;
$size-64: 64px;
$size-80: 80px;
$size-96: 96px;
$size-100: 100px;
$size-200: 200px;
$size-500: 500px;

/* Screen breakpoints */
$mobile-screen-1: 475px;
$mobile-screen-2: 640px;
$mobile-screen-3: 768px;
$tablet: 1024px;
$desktop-1: 1280px;
$desktop-2: 1536px;