@import "./partials/fontFaces";
@import "./partials/variables";

.Quicksand{
    font-family: $quicksand;
}

.ShantellSans{
    font-family: $shantellSans;
}

.Montserrat{
    font-family: $montserrat;
}

.AngillaTattoo{
    font-family: $angillaTattoo;
}

.Anton{
    font-family: $anton;
}

.BukhariScript{
    font-family: $bukhariScript;
}

.CaviarDreams{
    font-family: $caviarDreams;
}

.ChampagneLimousines{
    font-family: $champagneLimousines;
}

.CupcakeParty{
    font-family: $cupcakeParty;
}

.JosefinSans{
    font-family: $josefinSans;
}

.Jura{
    font-family: $jura;
}

.Kalam{
    font-family: $kalam;
}

.Nickainley{
    font-family: $nickainley;
}

.Orange{
    font-family: $orange;
}

.Oswald{
    font-family: $oswald;
}

.Sacramento{
    font-family: $sacramento;
}

.Stalemate{
    font-family: $stalemate;
}