@import "./partials/fontFaces";

.Quicksand{
    font-family: "Quicksand";
}

.ShantellSans{
    font-family: "ShantellSans";
}

.Montserrat{
    font-family: "Montserrat";
}

.AngillaTattoo{
    font-family: "AngillaTattoo";
}

.Anton{
    font-family: "Anton";
}

.BukhariScript{
    font-family: "BukhariScript";
}

.CaviarDreams{
    font-family: "CaviarDreams";
}

.ChampagneLimousines{
    font-family: "ChampagneLimousines";
}

.CupcakeParty{
    font-family: "CupcakeParty";
}

.JosefinSans{
    font-family: "JosefinSans";
}

.Jura{
    font-family: "Jura";
}

.Kalam{
    font-family: "Kalam";
}

.Nickainley{
    font-family: "Nickainley";
}

.Orange{
    font-family: "Orange";
}

.Oswald{
    font-family: "Oswald";
}

.Sacramento{
    font-family: "Sacramento";
}

.Stalemate{
    font-family: "Stalemate";
}